{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }}
    - Log in!
{% endblock %}

{% block body %}
    {% include('navbar.html.twig') %}
    <div class="card container mt-5 bg-light mb-3">
        <div class="card-body">
            {% if app.user %}
            {% else %}
                <h4 class="card-title"></h4>
            {% endif %}

            <div class="container card-text">
                <div class="row">

                    <div class="col-md-12">

<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% else %}

                        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
                        <label for="inputEmail" class="sr-only">Email</label>
                        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control mt-2" placeholder="Email" required autofocus>
                        <label for="inputPassword" class="sr-only">Password</label>
                        <input type="password" name="password" id="inputPassword" class="form-control mt-2" placeholder="Password" required>

                        <input type="hidden" name="_csrf_token"
                               value="{{ csrf_token('authenticate') }}"
                        >

                        {#
                            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                            See https://symfony.com/doc/current/security/remember_me.html

                            <div class="checkbox mb-3">
                                <label>
                                    <input type="checkbox" name="_remember_me"> Remember me
                                </label>
                            </div>
                        #}

                        <button class="btn btn-lg btn-success-happy mt-3" type="submit">
                            Sign in
                        </button>
    {% endif %}
</form>
                    </div>
                </div>
            </div>
        </div>
    </div>




{% endblock %}
