{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }}
     - Register
{% endblock %}

{% form_theme registrationForm'bootstrap_4_layout.html.twig' %}
{% block body %}
    {% include('navbar.html.twig') %}
    <div class="card container mt-3 bg-light mb-3">
        <div class="card-body">
            <h4 class="card-title">Register</h4>
        <div class="container card-text">
            <div class="row">
                <div class="col-md-6 d-none d-md-block d-lg-block">
                    <img src="{{asset('build/register.jpg') }}" class="img-fluid rounded-circle">
                </div>
                <div class="col-md-6">
                    {{ form_start(registrationForm) }}
                    {{ form_row(registrationForm.name) }}
                    {{ form_row(registrationForm.lastname) }}
                    {{ form_row(registrationForm.phone) }}
                    {{ form_row(registrationForm.email) }}
                    {{ form_row(registrationForm.plainPassword) }}
                    {{ form_row(registrationForm.agreeTerms) }}
                    <button class="btn btn-success">Register</button>
                    {{ form_end(registrationForm) }}
                </div>
             </div>
            </div>
        </div>
    </div>

        {% endblock %}
