<nav class="navbar navbar-expand-lg navbar-dark bg-success sticky-top">
    {% if app.user  %}
        <a class="navbar-brand ml-4" href="{{ path('user_account')}}"><i class="fas fa-seedling"></i> Happy Plants</a>
    {% else %}
        <a class="navbar-brand ml-4" href="{{ path('default')}}"><i class="fas fa-seedling"></i> Happy Plants</a>
    {% endif %}
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav ml-auto">
            {% if app.user  %}
                {% if not is_granted("ROLE_ADMIN")  %}
                    {% include('navbar-myplants-inactive.html.twig') %}
                    {% include('navbar-myplaces-active.html.twig') %}
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('default')}}">Settings</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_logout')}}">Logout</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_login')}}">Login</a>
                </li>
            {% endif %}
        </ul>

    </div>
</nav>