{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }}
    - My plants
{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

    {% include('navbar.html.twig') %}

  {#
  - check by searching if a user has any plant, if it doesn', display a message
  to encourage them adding, and a form
  - if it doesn't have a place, start by adding place
  #}


    <div class="card container mt-3 bg-light mb-3">
        <div class="card-body">
            <p>
                {% if is_granted("ROLE_ADMIN") %}
                    <h4 class="card-title">Hi, {{ app.user.name }}, you can go to the admin dashboard, <a href="{{ path('admin') }}">here!</a></h4>
                {% elseif is_granted("ROLE_USER") %}
                    <h4 class="card-title">Hi, {{ app.user.name }}!</h4>
            {% for message in app.flashes('success') %}
                <div class="alert alert-success text-white">
                    {{ message }}
                </div>
            {% endfor %}
                        {% if numberOfPlants == 0 %}
                            <p> It seems that you don't have any plants yet.</p>
                            {% if numberOfPlaces == 0 %}
                            <p>    Let's start by adding the places where you keep them: </p>
                                {% include('user_account/place-form.html.twig') %}
                            {% else %} {# numberOfPlaces > 0 #}
                                <p>    But you already have  {{ numberOfPlaces }} locations  added and you can start adding plants or continue adding new locations: </p>
                                <p>    Display places: </p>
                                <p>
                                <ul class="list-unstyled">
                                    {% for place in places %}
                                        <li>
                                            <img src="{{asset('build/images/plants/places/'~ place.photo ~'')}}" class="img-fluid rounded-circle img-thumbnail" style="max-width: 5%;">  {{ place.name|e }}   {{ place.humidity}}%   {{ place.orientation}}
                                            <a href="{{ path ('user-add-plant', { 'id': place.id }) }}" class="text-success">Add a new plant here</a> <a href="{{ path ('user-edit-place', { 'id': place.id }) }}" data-toggle="tooltip" data-placement="top" title="Edit this place"><i class="fas fa-edit text-success"></i></a> <a href="{{ path ('user-delete-place', { 'id': place.id }) }}" data-toggle="tooltip" data-placement="top" title="Delete this place and all the associated plants, if any"><i class="far fa-trash-alt text-danger"></i></a>
                                        </li>
                                        {#   <li>{{ dump(place) }}  </li> #}
                                    {% endfor %}
                                </ul>

                                </p>
                                {% include('user_account/place-form.html.twig') %}
                            {% endif %} {# numberOfPlaces #}
                        {% else %} {# numberOfPlants > 0 #}
                            <p>Here are your plants:</p>
                            <p>
                            <ul class="list-unstyled">
                                {% for plant in plants %}
                                    {#    {{  dump(plant) }} #}
                                      {#   {{  dump(plant.idMedium) }}  #} {#  // it doesn't work without fetch="EAGER" !! it does!! #}
                                    <li><h1><img src="{{asset('build/images/plants/'~ plant.photo ~'')}}" class="img-fluid rounded-circle img-thumbnail" style="max-width: 5%;">
                                        <span class="badge badge-success">{{ plant.name|e }}</span></h1>
                                        is of type <span class="badge badge-success">{{ plant.idSpecies.name|e }}</span>,
                                        it's planted in <i class="badge badge-success"> {{ plant.idMedium.name|e }}</i>,
                                        placed in <span class="badge badge-success"> {{ plant.idPlace.name|e }}</span>,
                                        and <span class="badge badge-success">{{ plant.idStage.name|e }}</span> right now.
                                        <a href="{{ path('user-edit-plant', { 'id': plant.id }) }}" data-toggle="tooltip" data-placement="top" title="Edit this plant"><i class="fas fa-edit text-success"></i></a>
                                        <a href="{{ path('user-plant-add-photos-and-stage', { 'id': plant.id }) }}" data-toggle="tooltip" data-placement="top" title="Add photo and stage for this plant"><i class="far fa-images text-success"></i></a>
                                        <a href="{{ path('user-delete-plant', { 'id': plant.id }) }}" data-toggle="tooltip" data-placement="top" title="Delete this plant and all the associated photos and history, if any"><i class="far fa-trash-alt text-danger"></i></a>
                                        <a href="{{ path('user-plant-add-action', { 'id': plant.id }) }}" data-toggle="tooltip" data-placement="top" title="Add an action on this plant">   <i class="fas fa-water"></i></a>

                                    <div>
                                        <p>Visual evolution of the {{ plant.name }}:</p>
                                        {% for record in plant.stageHistories %} {#{{ dump(stage)}}#}
                                              <img src="{{asset('build/images/plants/'~record.photo~'')}}" class="img-fluid rounded-circle img-thumbnail" style="max-width: 10%;">
                                              {# <span >{{  record.getIdStage.name }}</span>#}
                                        {% endfor %}
                                    </div>
                                    <p>Care journal for the  {{ plant.name }}:</p>
                                    {% if plant.actionHistories is not empty %}
                                    <div>
                                        <ul>
                                        {% for recordAction in plant.actionHistories %} {#{{ dump(stage)}}#}
                                            {# <span>{{ dump(recordAction) }}</span>#}
                                            <li><span >{{  recordAction.getIdAction.name }} {{  recordAction.date| date }} quantity: {{ recordAction.quantity }} ml </span></li>
                                        {% endfor %}
                                            {% if timesLastWatered[plant.id] %}
                                                {#<li>{{ dump(timesLastWatered[plant.id][0].date) }}</li>#}
                                                <li>last time watered <span class="badge bg-success text-white">{{ timesLastWatered[plant.id][0].date | time_diff }} </span></li>
                                            {% endif %}
                                        </ul>
                                    </div>
                                    {% else %}
                                        <div>You have no records in the journal. Start adding:  <a href="{{ path('user-plant-add-action', { 'id': plant.id }) }}">   <i class="fas fa-water"></i></a> </div>
                                    {% endif %}
                                    </li>

        <div class="form-group col-12">
            <hr>
        </div>
                                       {#   <li>{{ dump(place) }}  </li> #}
                                {% endfor %}
                            </ul>

                            </p>
                            <p>    Your places: </p>
                            <p>
                            <ul class="list-unstyled">
                                {% for place in places %}
                                    <li><img src="{{asset('build/images/plants/places/'~ place.photo ~'')}}" class="img-fluid rounded-circle img-thumbnail" style="max-width: 5%;">  {{ place.name|e }}   {{ place.humidity}}%   {{ place.orientation}}  <a href="{{ path ('user-add-plant', { 'id': place.id }) }}" class="text-success">Add a new plant here</a> <a href="{{ path ('user-edit-place', { 'id': place.id }) }}" data-toggle="tooltip" data-placement="top" title="Edit this place"><i class="fas fa-edit text-success"></i></a> <a href="{{ path ('user-delete-place', { 'id': place.id }) }}" data-toggle="tooltip" data-placement="top" title="Delete this place and all the associated plants, if any"><i class="far fa-trash-alt text-danger"></i></a></li>
                                    {#   <li>{{ dump(place) }}  </li> #}
                                {% endfor %}
                            </ul>

                            </p>
                            <p>Add new place:<p>
                            {% include('user_account/place-form.html.twig') %}

                        {% endif %}  {# numberOfPlants #}
                 {% endif %} {#ROLE#}
            </p>

            <div class="container card-text">
                <div class="row">

                </div>
            </div>
        </div>
    </div>



{% endblock %}
