{# place edit#}
<div class="card container mt-3 bg-light mb-3">
    <div class="card-body">
        <h4 class="card-title">Add/Update the place</h4>
        <div class="container card-text">
            <div class="row">

                <div class="col-md-12">
                    {{ form_start(placeForm) }}
                    {{ form_row(placeForm.name) }}
                    {{ form_row(placeForm.orientation) }}
                    {{ form_row(placeForm.medium_temperature) }}
                    {{ form_row(placeForm.humidity) }}
                    <div class="row">
                        <div class="col-sm-9">
                            {{ form_row(placeForm.photoFile, {
                                attr:{
                                    placeholder:'Select the image'
                                }
                            }) }}
                        </div>
                        <div class="col-sm-3">
                          {#  preview the existing image in the edit form #}
                          {#  {{  dump(placeForm.vars.data.photo) }} #}
                            {%   if placeForm.vars.data.photo | default %}
                                <img src="{{asset('build/images/plants/'~ placeForm.vars.data.photo ~'')}}" height="100">
                            {% endif %}
                        </div>
                    </div>
                    {% if edit == false %}
                        <button class="btn btn-success">Add new</button>
                    {% else %}
                        <button class="btn btn-success">Update</button>
                    {% endif %}
                    {{ form_end(placeForm) }}
                </div>
            </div>
        </div>
    </div>
</div>
