{# user account first page #}

<div class="col-md-12">
    {% form_theme placeForm'bootstrap_4_layout.html.twig' %}
    {{ form_start(placeForm, {'attr': {'id': 'place_form'}}) }}
    {{ form_row(placeForm.name) }}
    {{ form_row(placeForm.orientation) }}
    {{ form_row(placeForm.medium_temperature) }}
    {{ form_row(placeForm.humidity) }}
    {{ form_row(placeForm.photoFile, {
            attr:{
                    placeholder:'Select the image'
            }
    }) }}
    {% include('user_account/place-cropper.html.twig') %}
    {% if edit == false %}
        <button class="btn happy-background text-white m-2 float-right">Add new</button>
    {% else %}
        <button class="btn happy-background text-white m-2 float-right">Update</button>
    {% endif %}
    {{ form_end(placeForm) }}
</div>