{#editing an existing plant#}
<div class="col-md-12">
    {% form_theme plantForm'bootstrap_4_layout.html.twig' %}
         {{ form_start(plantForm) }}
                {{ form_errors(plantForm) }}
                {{ form_row(plantForm.name) }}
                {{ form_row(plantForm.id_species) }}
                {{ form_row(plantForm.id_medium) }}
                {{ form_row(plantForm.id_stage) }}
                {{ form_row(plantForm.birth_date) }}
                {{ form_row(plantForm.id_place) }}
    <div class="row">
        <div class="col-sm-9">
            {{ form_row(plantForm.photoFile, {
                attr:{
                    placeholder:'Select the image'
                }
            }) }}
        </div>
        <div class="col-sm-3">
            {#  preview the existing image in the edit form #}
            {#  {{  dump(plantForm.vars.data.photo) }} #}
            {%   if plantForm.vars.data.photo | default %}
                <img src="{{asset('build/images/plants/'~ plantForm.vars.data.photo ~'')}}" height="100">
            {% endif %}
        </div>
    </div>
    <button class="btn btn-success">Update</button>
         {{ form_end(plantForm) }}
</div>