<div class="col-md-12">
    {% form_theme plantForm'bootstrap_4_layout.html.twig' %}
        {{ form_start(plantForm) }}
                {{ form_errors(plantForm) }}
                {{ form_row(plantForm.name) }}
                {{ form_row(plantForm.id_species) }}
                {{ form_row(plantForm.id_medium) }}
                {{ form_row(plantForm.id_stage) }}
                {{ form_row(plantForm.birth_date) }}
                {{ form_row(plantForm.photoFile) }}
                {% do plantForm.id_place.setRendered() %} {#https://stackoverflow.com/a/48147298#}
                {% if edit == false %}
                        <button class="btn btn-success">Add new</button>
                {% else %}
                        <button class="btn btn-success">Update</button>
                {% endif %}
        {{ form_end(plantForm) }}
    {#, {'render_rest': false}#}
</div>