{# to display a plant with a given id #}

{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }}
    - Plant view
{% endblock %}

{% block body %}
        {% include('navbar-places.html.twig') %}
    <div class="card container mt-3 bg-light mb-3">
        <div class="card-body">
            {% if is_granted("ROLE_ADMIN") %}
                <h4 class="card-title">Hi, {{ app.user.name }}, you can go to the admin dashboard,
                    <a href="{{ path('admin') }}">here!</a>
                </h4>
            {% elseif is_granted("ROLE_USER") %}
                <h4 class="card-title">{{ app.user.name }}, here is your plant from <a href="{{ path('user-view-place', { 'id': plant.getIdPlace.getId }) }}">{{ plant.getIdPlace.getName }}</a>:</h4>
                {% for message in app.flashes('success') %}
                    <div class="alert alert-success text-white happy-background">
                        {{ message }}
                    </div>
                {% endfor %}
                <div class="md:m-auto">
                <div class="max-w-4xl  flex items-center h-auto lg:h-screen flex-wrap mx-auto mt-20 mb-18 lg:my-0">

                    <!--Main Col-->
                    <div id="profile" class="w-full lg:w-3/5 rounded-lg lg:rounded-l-lg lg:rounded-r-none shadow-2xl bg-white opacity-75 mx-6 lg:mx-0">

                        <div class="p-4 md:p-12 text-center lg:text-left happy-background">
                            <!-- Image for mobile view-->
                            <div class="block lg:hidden rounded-full shadow-xl mx-auto -mt-16 h-48 w-48 bg-cover bg-center" style="background-image: url('{{asset('build/images/plants/'~ plant.getPhoto ~'')}}')"></div>

                            <h1 class="text-3xl font-bold pt-8 lg:pt-0 text-white">{{ plant.name }} • <span class="text-xl"> {{plant.getBirthdate |time_diff(date())}} old</span> </h1>
                            <div class="mx-auto lg:mx-0 w-4/5 pt-3 border-b-2 border-white-500 opacity-25"></div>
                            <div class="text-xl  pt-8 lg:pt-0 text-white">
                                • <span  class="text-sm font-bold">{{ plant.getIdSpecies.getName |upper }}</span> • <span class="text-base">{{ plant.getIdMedium.getName |lower }}</span> • <span class="text-base">{{ plant.getIdStage.getName }}</span> •
                            </div>

                            <div class="mx-auto lg:mx-0 w-4/5 pt-3 border-b-2 border-white-500 opacity-25"></div>

                            <div class="p-2 flex bg-white  justify-end h-10">

                                <div class="flex-initial">
                                    <div class="mx-3 text-base">
                                        <a href="{{ path('user-delete-plant', { 'id': plant.id }) }}" data-toggle="tooltip" data-placement="top" title="Delete this plant and all the associated photos and history, if any"><i class="far fa-trash-alt text-danger"></i></a>
                                    </div>
                                </div>

                                <div class="flex-initial">
                                    <div class="mx-3 text-base">
                                        <a href="{{ path('user-edit-plant', { 'id': plant.id }) }}" data-toggle="tooltip" data-placement="top" title="Edit this plant"><i class="fas fa-edit happy-color"></i></a>
                                    </div>
                                </div>

                                <div class="flex-initial">
                                    <div class="mx-3 flex">
                                        <div class="text-base flex-initial ">{{ plant.getStageHistories.count }} </div>
                                        <a href="{{ path('user-plant-add-photos-and-stage', { 'id': plant.id }) }}" data-toggle="tooltip" data-placement="top" title="Add photo and stage for this plant"><div class="bg-cover flex-initial bg-center w-5 h-5" style="background-image: url('{{asset('build/images/svg/record.svg')}}')"></div></a>
                                    </div>
                                </div>
                                <div class="flex-initial">

                                    <div class="mx-3 flex">
                                        <div class="text-base flex-initial">{{ plant.getActionHistories.count }}</div>
                                        <a href="{{ path('user-plant-add-action', { 'id': plant.id }) }}" data-toggle="tooltip" data-placement="top" title="Water this plant"> <div class="bg-cover flex-initial bg-center w-5 h-5" style="background-image: url('{{asset('build/images/svg/drop.svg')}}')"></div></a>
                                        <div class="text-sm happy-color flex-initial"> {% if plant.getActionHistories.count %} {{ plant.getActionHistories[plant.getActionHistories.count - 1].getDate |time_diff(date()) }} ago {% endif %}</div>
                                    </div>
                                </div>
                            </div>

                            <div class="mx-auto lg:mx-0 w-4/5 pt-3 border-b-2 border-white-500 opacity-25"></div>
<!--
                             <div class="pt-12 pb-8">
                                <button class="bg-white hover:bg-teal-900 happy-color font-bold py-2 px-4 rounded-full">
                                    Modify
                                </button>
                            </div>
  -->
                        </div>


                    </div>

                    <!--Img Col-->
                    <div class="w-full lg:w-2/5">
                        <!-- Big profile image for side bar (desktop) -->
                        <img src="{{asset('build/images/plants/'~ plant.getPhoto ~'')}}" class="rounded-full lg:rounded-lg shadow-2xl hidden lg:block">

                    </div>
</div>
<div class="px-10">
                    <div class="flex flex-wrap -mx-3 overflow-hidden py-3 my-3">
                        {% if plant.getStageHistories.count  %}
                            {% for record in plant.getStageHistories %}


                            <div class="px-3 w-full overflow-hidden md:w-1/2 lg:w-1/3 xl:w-1/3">
                                    <!-- Column Content https://tailwindgrids.com/#/ -->

                                    <div class="max-w-sm rounded overflow-hidden ">

                                        <a data-fancybox="gallery" data-caption=" {{ plant.name }} {{ record.getIdStage.getName }} on {{ record.getDate | date("m/d/Y") }}" href="{{asset('build/images/plants/'~ record.getPhoto ~'')}}">
                                          <div class="bg-cover bg-center h-56 p-4 happy-touch" style="background-image: url('{{asset('build/images/plants/'~ record.getPhoto ~'')}}')">
                                            </div>
                                        </a>

                                        <div class="px-6 py-4 shadow-inner">
                                            <div class="text-base mb-2"  data-toggle="tooltip" data-placement="top" title="{{ record.getDate | date("m/d/Y") }}">Published: {{ record.getDate |time_diff(date()) }} ago </div>
                                            <p class="text-gray-700 text-base">
                                            Stage: {{ record.getIdStage.getName }}   <a href="{{ path('user-delete-plant-photo', { 'id': record.getId }) }}" data-toggle="tooltip" data-placement="top" title="Delete this photo"><i class="far fa-trash-alt text-danger"></i></a>
                                            </p>
                                        </div>
                                    </div>

                                </div>
                            {% endfor %}
                            <div class="invisible"> </div>
                        {% endif %}
                    </div>
</div>
<div>

    <!-- <div> Care journal for the {{ plant.getName }}</div> -->
                    <div class="flex flex-wrap mx-4 overflow-hidden">
                        {% if plant.getActionHistories.count  %}

                            {% for record in plant.getActionHistories %}
                                <div class="my-3 px-3 w-full overflow-hidden md:w-1/2 lg:w-1/3 xl:w-1/3 shadow-inner">
                                    <!-- Column Content https://tailwindgrids.com/#/ -->

                                    <div class="max-w-sm rounded overflow-hidden">
                                        <div class="px-6 py-4">
                                            <div class="text-base mb-2">Published: {{ record.getDate |time_diff(date()) }} ago </div>
                                            <p class="text-gray-700 text-base">
                                               Action: {{ record.getIdAction.getName }}, {{ record.quantity }} ml
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
</div>
                </div>



            {% endif %}
      </div>
    </div>


{% endblock %}