

{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }}
    - Welcome!
{% endblock %}

{% block body %}
    <body class="font-sans antialiased text-gray-900 leading-normal tracking-wider bg-cover" style="background-image:url('https://images.unsplash.com/photo-1531877264583-a58acd888a97?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80');">
    <div class="mb-10">
        {% include('navbar.html.twig') %}
    </div>
    <div class="max-w-4xl  flex items-center h-auto lg:h-screen flex-wrap mx-auto my-32 lg:my-0">

        <!--Main Col-->
        <div id="profile" class="w-full lg:w-3/5 rounded-lg lg:rounded-l-lg lg:rounded-r-none shadow-2xl bg-white opacity-75 mx-6 lg:mx-0">


            <div class="p-4 md:p-12 text-center lg:text-left">
                <!-- Image for mobile view-->
                <div class="block lg:hidden rounded-full shadow-xl mx-auto -mt-16 h-48 w-48 bg-cover bg-center" style="background-image: url('https://images.unsplash.com/photo-1492106087820-71f1a00d2b11?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80')"></div>

                <h1 class="text-3xl font-bold pt-8 lg:pt-0">{{ app.user.name }} {{ app.user.lastname }}</h1>
                <div class="mx-auto lg:mx-0 w-4/5 pt-3 border-b-2 border-teal-500 opacity-25"></div>
                <p class="pt-3 text-base font-bold flex items-center justify-center lg:justify-start"><span class="h-4 fill-current text-teal-700 pr-4"> <i class="fas fa-envelope"></i> {{ app.user.email }}</span></p>
                <p class="pt-3 text-base font-bold flex items-center justify-center lg:justify-start"><span class="h-4 fill-current text-teal-700 pr-4"> <i class="fas fa-mobile-alt"></i> {{ app.user.phone }}</span></p>
                <div class="pt-12 pb-8">
                    <button class="bg-teal-700 hover:bg-teal-900 text-white font-bold py-2 px-4 rounded-full">
                        Modify
                    </button>
                </div>
            </div>

        </div>

        <!--Img Col-->
        <div class="w-full lg:w-2/5">
            <!-- Big profile image for side bar (desktop) -->
            <img src="https://images.unsplash.com/photo-1492106087820-71f1a00d2b11?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80" class="rounded-none lg:rounded-lg shadow-2xl hidden lg:block">

        </div>

        <!-- Pin to top right corner -->
        <div class="absolute top-0 right-0 h-12 w-18 p-4">
            <button class="js-change-theme focus:outline-none">🌙</button>
        </div>
    </div>
</body>

{% endblock %}

